@model AutoNews.DB.User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/profile.css">
<div class="profilePageBody">
    <img src="@Model.AvatarUrl" class="profileAvatar">
    <div class="profileInfo">
        <span class="nickname">@Model.NickName</span>
        <form id="profileEditForm">
            <div class="profileUserInfo">
                <div class="profileName" style="justify-content: space-between;">Nickname: <input name="NickName" value="@Model.NickName" class="profileNameInput"></div>
                <div class="profileName" style="justify-content: space-between;">AvatarURL: <input name="avatarUrl" value="@Model.AvatarUrl" class="profileNameInput"></div>
                <div class="profileName" style="justify-content: space-between;">Name: <input name="name" value="@Model.Name" class="profileNameInput"></div>
                <div class="profileName" style="justify-content: space-between;">Age: <input name="age" value="@Model.Age" class="profileNameInput"></div>
                <div class="profileName" style="justify-content: space-between;">E-Mail: <input name="login" value="@Model.Login" class="profileNameInput"></div>
                <div class="profileName" style="justify-content: space-between;">Password: <input name="password" value="@Model.Password" type="password" class="profileNameInput"></div>
                <div class="profileAbout">
                    <span>About me:</span>
                    <textarea class="profileAboutInput" name="AboutMe">@Model.AboutMe</textarea>
                </div>
                <div class="profileEditButtons">
                    <button class="profileEditButton" type="reset" onclick="document.location.href='https://localhost:5001/Profile'">Cancel</button>
                    <button class="profileEditButton" type="submit">Save</button>
                </div>
            </div>
        </form>
        <script>
                    profileEditForm.onreset

                    profileEditForm.onsubmit = async (e) => {
                        e.preventDefault();
                        await fetch('https://localhost:5001/Back/EditProfile', {
                            method: 'POST',
                            body: new FormData(profileEditForm)
                        });
                        document.location.href='https://localhost:5001/Profile';
                    };
        </script>
    </div>
</div>