@model AutoNews.DB.User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/profile.css">
<div class="profilePageBody">
    <img src="@Model.AvatarUrl" class="profileAvatar">
    <div class="profileInfo">
        <span class="nickname">@Model.NickName</span>
        <div class="profileUserInfo">
            <div class="profileName" style="justify-content: space-between;">Nickname: <input value="@Model.NickName" class="profileNameInput"></div>
            <div class="profileName" style="justify-content: space-between;">AvatarURL: <input value="@Model.AvatarUrl" class="profileNameInput"></div>
            <div class="profileName" style="justify-content: space-between;">Name: <input value="@Model.Name" class="profileNameInput"></div>
            <div class="profileName" style="justify-content: space-between;">Age: <input value="@Model.Age" class="profileNameInput"></div>
            <div class="profileName" style="justify-content: space-between;">E-Mail: <input value="@Model.Login" class="profileNameInput"></div>
            <div class="profileName" style="justify-content: space-between;">Password: <input value="@Model.Password" type="password" class="profileNameInput"></div>
            <div class="profileAbout">
                <span>About me:</span>
                <textarea class="profileAboutInput">@Model.AboutMe</textarea>
            </div>
            <div class="profileEditButtons">
                <button class="profileEditButton" type="submit">Cancel</button>
                <button class="profileEditButton" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>