@model AutoNews.Controllers.ProfileController.ProfileModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/profile.css">
<div class="profilePageBody">
    <img src="@Model.User?.AvatarUrl" class="profileAvatar">
    <div class="profileInfo">
        <span class="nickname">@Model.User?.NickName</span>
        <div class="profileUserInfo">
            <span class="profileName">Name: <span class="profileNameSpan">@Model.User?.Name</span></span>
            <span class="profileName">Age: <span class="profileNameSpan">@Model.User?.Age</span></span>
            <span class="profileName">E-Mail: <span class="profileNameSpan">@Model.User?.Login</span></span>
            <div class="profileAbout">
                <span>About me:</span>
                <span class="profileAboutSpan">
                    @Model.User?.AboutMe
                </span>
            </div>
            @if (Model.Edit)
            {
                <div class="profileEditButtons">
                    <a class="buttonContainer" asp-controller="Profile" asp-action="Edit">
                        <button class="profileEditButton" type="submit">Edit</button>
                    </a>
                </div>
            }
        </div>
    </div>
</div>