@model AutoNews.Controllers.HomeController.HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/newsStyles.css">
<div class="mainPageBody">
    <a href="https://localhost:5001/news?newsid=@Model.HeaderNews.Id" class="mainNews">
        <div class="newsElementContainer">
            <img src="@Model.HeaderNews.LogoUrl" alt="newsImage"
                 width="100%" height="600px">
            <div class="newsImageShadowLarge"></div>
            <div class="newsTopicLarge">
                @Model.HeaderNews.Title
            </div>
        </div>
    </a>
    <div class="newsBlock">
        @foreach (var news in Model.News1)
        {
            <a href="https://localhost:5001/news?newsid=@news.Id" class="elementNews">
                <div class="newsElementContainer">
                    <img src="@news.LogoUrl" alt="newsImage"
                         width="100%" height="300px">
                    <div class="newsImageShadowSmall"></div>
                    <div class="newsTopicSmall">
                        @news.Title
                    </div>
                </div>
                <div class="newsArticle">
                    <span class="newsArticleSpan">
                        @news.Text
                    </span>
                    <div class="newsTopicCreatorInfo">
                        <img alt="avatar" class="newsAvatar" src="@news.Creator?.AvatarUrl" width="100%" height="100%"/>
                        <span style="font-weight: 700;">
                            @news.Creator?.NickName
                        </span>
                    </div>
                </div>
            </a>
        }
        <div class="commentSection">
            <div class="bestWriterBlock">
                Writer of this month:
                <div class="writerInfo">
                    <img alt="avatar" class="avatar" src="@Model.Writer2.AvatarUrl"/>
                    <span style="font-weight: 500;">
                        @Model.Writer2.Name
                    </span>
                    <img alt="likeLogo" class="likesCount" src="~/img/like.png">
                    <span style="font-weight: 470;">
                        @Model.Likes2
                    </span>
                </div>
            </div>
            <div style="width: 2px; background: gray; height: 66%;">
            </div>
            <div class="bestWriterBlock">
                Writer of the previous month:
                <div class="writerInfo">
                    <img alt="avatar" class="avatar" src="@Model.Writer1.AvatarUrl"/>
                    <span style="font-weight: 500;">
                        @Model.Writer1.Name
                    </span>
                    <img alt="likeLogo" class="likesCount" src="~/img/like.png">
                    <span style="font-weight: 470;">
                        @Model.Likes1
                    </span>
                </div>
            </div>
        </div>
        @foreach (var news in Model.News2)
        {
            <a href="https://localhost:5001/news?newsid=@news.Id" class="elementNews">
                <div class="newsElementContainer">
                    <img src="@news.LogoUrl" alt="newsImage"
                         width="100%" height="300px">
                    <div class="newsImageShadowSmall"></div>
                    <div class="newsTopicSmall">
                        @news.Title
                    </div>
                </div>
                <div class="newsArticle">
                    <span class="newsArticleSpan">
                        @news.Text
                    </span>
                    <div class="newsTopicCreatorInfo">
                        <img alt="avatar" class="newsAvatar" src="@news.Creator?.AvatarUrl" width="100%" height="100%"/>
                        <span style="font-weight: 700;">
                            @news.Creator?.NickName
                        </span>
                    </div>
                </div>
            </a>
        }
    </div>
</div>